<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
	var min_numbercharacters = 3;
	var characters_error='Minimum number of character is 3';
	//drop() function is used here for displaying the list of values from mongodb to drop downlist box
	drop();
	function drop() {$.ajax({url:"/dropdown",
							method:"GET",
							datatype:"json",
							success:function(data) {
										for(var i = 0; i < data.length; i++) {
											dt=data[i].username;
											$('#dropdown').append(new Option(data[i].username, data[i].username));
										}
									}
					});
	}
	$('#txtid').css("outline","0");
	
	$('#txtid').blur(function() {
		if($('#txtid').val().length < min_numbercharacters) {
		   $('#txtid').focus();
		   $('#div_id1').html(characters_error);
		   $('#txtid').css("border","red solid 1px");
		} else {
			check_html();
		}
		});
	
	    function check_html() {
		uname = $('#txtid').val();
		$.ajax({url:"/getJson?username="+uname,//passing query param
				method:"GET",
				datatype:"json",
				success: function(result) {
							if(result == null) {
								$('#div_id1').html(uname + ' is Available');
								$('#txtid').css("border","green solid 1px");
								$('input[type="submit"]').removeAttr('disabled');
							} else {  
								$('#txtid').css("border","red solid 1px");
								$('#txtid').focus();
								$('#div_id1').html(uname + ' is notAvailable');  
								$('input[type="submit"]').attr('disabled','disabled');
							}
						 }
		});
	    }
	    
$('#smt').click(function() {
	if($('#txtid').val().length < min_numbercharacters) {
		   $('#txtid').focus();
		   $('#div_id1').html(characters_error);
		   $('#txtid').css("border","red solid 1px");
	} else{
		$.ajax({url:"/formsubmit",
				method:"GET",
				datatype:"json",
				success:function(result) {
	    					$('#div_id1').html(uname + ' is Inserted Successfully');
	    					drop();		  
	    				}
	    		  });
	}
});
});
</script>
</head>
<body>
Username:<input type='text' id='txtid'name="uname"><div id='div_id1'> </div><br>
Registered usernames:
	<select id="dropdown">
 	<option>See here</option>
 	</select><br>
<input type ="submit" value="submit" id="smt">
</body>
</html>