<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
	var min_numbercharacters = 3;
	var characters_error='Minimum number of character is 3';
	//var uname=$('#txtid').val();
	$('#txtid').blur(function() {
		$('#txtid').css("outline","0");
		if($('#txtid').val().length < min_numbercharacters) {
		   $('#txtid').focus();
		   $('#div_id1').html(characters_error);
		   $('#txtid').css("border","red solid 1px");
			
		} else {
			//$('#txtid').css("border","green solid 1px");
			
			check_html();
		}
		});
	
	    function check_html() {
		var uname = $('#txtid').val();
		$.ajax({url:"/getJson?username="+uname,
				method:"GET",
				datatype:"json",
				success: function(result) {
					//console.log(result.username);
					if(result == null)
						{
						$('#div_id1').html(uname + ' is Available');
						$('#txtid').css("border","green solid 1px");
						} else {  
	                    //show that the username is NOT available
						$('#txtid').css("border","red solid 1px");
						$('#txtid').focus();
	                    $('#div_id1').html(uname + ' is notAvailable');  
	                
		        
						}
				}
		});
	}
});
</script>
</head>
<body>
Username:<input type='text' id='txtid'name="uname"><div id='div_id1'> </div>
<input type ="submit" value="submit">
</body>
</html>